// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

import "encoding/xml"

// Any Type
type Any struct {
    XMLName xml.Name
    Content string   `xml:",innerxml,omitempty"`
}
