package {{.PackageName}}

{{range .Imports -}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// attribute group
type {{.Name}} struct {
{{range .Attributes}}
    {{.TypeName}} {{.Type}} `xml:"{{.Name}},attr{{.OmitEmpty}}"`
{{end}}
}
