// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}
{{range .Imports}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// Attribute
type {{.TypeName}} struct {
	Value *{{.Type}} `xml:"{{.Name}},attr"`
}

func New{{.TypeName}}() *{{.TypeName}} {
    return new({{.TypeName}})
}

func (me *{{.TypeName}}) SetValue(value *{{.Type}}) {
    me.Value = value
}