// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

{{range .Imports -}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// AttributeGroup
type {{.Name}} struct {
{{range .Attributes}}
    {{.TypeName}} *{{.Type}} `xml:"{{.Name}},attr{{.OmitEmpty}}"`
{{end}}
}

func New{{.Name}}() *{{.Name}} {
    return new({{.Name}})
}

{{range .Attributes}}
func (me *{{.Parent}}) Set{{.TypeName}}(value *{{.Type}}) {
    me.{{.TypeName}} = value
}
{{end -}}