// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

{{range .Imports -}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// AttributeGroup
type {{.Name}} struct {
{{range .Attributes}}
    {{.TypeName}} *{{.Type}} `xml:"{{.Name}},attr{{.OmitEmpty}}"`
{{end}}
}
