// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

{{range .Imports -}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// ComplexElement
type {{.Name}} struct {
    Value *{{.Base}} `xml:",chardata"`
    {{range .Attributes}}
        {{- .TypeName}} *{{.Type}} `xml:"{{.Name}},attr{{.OmitEmpty}}"`
    {{end}}
    {{range .AttributeGroups}}
        {{- .Ref}}
    {{end -}}
}

func New{{.Name}}() *{{.Name}} {
    return new({{.Name}})
}

{{range .Attributes}}
func (me *{{.Parent}}) Set{{.TypeName}}(value *{{.Type}}) {
    me.{{.TypeName}} = value
}
{{end -}}
