// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}
{{range .Imports}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// ListType
type {{.Name}} struct {
    Value []*{{.Type}} `xml:",chardata"`
}