// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}
{{range .Imports}}
    import {{.Alias}} "{{.Package}}"
{{end}}
// ListType
type {{.Name}} struct {
    Value []*{{.Type}} `xml:",chardata"`
}

func New{{.Name}}() *{{.Name}} {
    return new({{.Name}})
}

func (me *{{.Name}}) AddValue(value *{{.Type}}) {
    me.Value = append(me.Value, value)
}