// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

import "encoding/xml"
{{range .Imports}}
    import {{.Alias}} "{{.Package}}"
{{end}}

// root type
type {{.Name}} struct {
    {{.Type}}
    XMLName xml.Name `xml:"{{.TargetNamespace}} {{.XMLName}}"`
    SchemaLocation string `xml:"xsi:schemaLocation,attr"`
    XSI            string `xml:"xmlns:xsi,attr"`
}
