// Generated with goxc v{{.Version}} - rev {{.Rev}}
package {{.PackageName}}

{{range .Imports}}
    import {{.Alias}} "{{.Package}}"
{{end}}

// SimpleType
type {{.Name}} {{.Type}}

func New{{.Name}}(value *{{.Type}}) *{{.Name}} {
	me := (*{{.Name}})(value)
	return me
}
